<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= content_for?(:title) ?yield(:title) : "Mot" %></title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="description" content="A Mot é uma produtora digital especializada em desenvolvimento web." />
	<meta name="author" content="Mot Design+Code">
	<!-- <meta name="robots" content="noindex,follow,noodp,noydir"/> -->
	<%= favicon_link_tag "16-favicon.png" , sizes: "16x16" %>
	<%= favicon_link_tag "32-favicon.png", sizes:"32x32" %>
	<!-- iPad iOS7+ com Retina Display -->
	<%= favicon_link_tag "apple-touch-icon-152x152.png", sizes: "152x152",
														 rel: "apple-touch-icon" %>
	<!-- iPhone iOS7+ com Retina Display -->
	<%= favicon_link_tag "apple-touch-icon-120x120.png", sizes: "120x120",
														 rel: "apple-touch-icon" %>
	<!-- iPad iOS7+ sem retina display e iPad Mini-->
	<%= favicon_link_tag "apple-touch-icon-76x76.png", sizes: "76x76",
														 rel: "apple-touch-icon" %>
	<!-- iPhone iOS7-, iPod Touch e Android 2.2+  -->
	<%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon" %>

	<%=stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
	<%=javascript_include_tag "application", "data-turbolinks-track" => true  %>
	<%=csrf_meta_tags %>
	<%= yield(:head) %>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-71571995-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body data-spy="scroll" data-target="#navbar-mot">
	<header class="apresentacao" data-parallax="scroll" >
		<div class="container">
			<div class="align-logo">

				<div role="banner">
					<h1 class="logo animated fadeInUp">MOT</h1>
					<h2><span class="design animated fadeInUp">design</span> <span class="plus animated fadeInUp">&</span> <span class="codigo animated fadeInUp">code</span></h2>
					<p class="animated animated fadeInUp"><%=t :animated_text %></p>
				</div>
			</div>
		</div>
		<nav class="nav-01 hidden-xs" role="navigation">
			<div class="container">
				<div class="ctn-nav-01">
					<div class="row" id="navbar-mot">
						<div class="col-xs-12 col-sm-4 col-md-3">
							<a href="#sobre">
								<strong><%=t :about_us %></strong>
								<span><%=t :more_us %></span>
							</a>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
							<a href="#trabalhos">
								<strong><%=t :lastest_work %></strong>
								<span><%=t :check_lastest_work %></span>
							</a>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
							<strong><%=t :contact %></strong>
							<a href="mailto:contato@mot-br.com?Subject=Contato%20site" target="_top" class="mail-link" role="link"><%=t :email %></a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="lng">
			<%= link_to_unless I18n.locale == :"pt-BR", @l_pt, locale: :"pt-BR" %> | <%= link_to_unless I18n.locale == :en, @l_en , locale: :en %>
		</div>
	</header>
	<section id="sobre" class="sobre" role="main">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h1><%=t :about %><br/><%=t :us %></h1>
				</div>
				<div class="col-xs-12 col-sm-8" role="complementary">
					<p><%=t :description_p1 %></p>

					<p><%=t :description_p2 %></p>

					<p><%=t :description_p3 %></p>
				</div>
			</div>
			<div class="qualidade" role="complementary">
				<h3><%=t :quality_assurance %></h3>
				<p><%=t :quality_assurance_p1 %></p>
				<p><%=t :quality_assurance_p2 %></p>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6" role="complementary">
					<h3><%=t :development %></h3>
					<p><%=t :development_p1 %></p>
				</div>
				<div class="col-xs-12 col-sm-6" role="complementary">
					<h3><%=t :design %></h3>
					<p><%=t :design_p1 %></p>
				</div>
			</div>
		</div>
	</section>
	<section id="trabalhos" class="trabalhos" role="complementary">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h1><%=t :our_lastest_work %></h1>
				</div>
			</div>
		</div>
		<div class="glr-trabalhos">
			<div class="trabalhos">
				<div class="item">
					<a href="#" data-toggle="modal" data-target="#modalStar77">
						<%= image_tag "trabalhos/thumbs/star77.jpg", alt: "Layout Star77",
																	 role: "img" %>
					</a>
					<span><strong>Star 77</strong> - Ecommerce</span>
				</div>
				<div class="item">
					<a href="#" data-toggle="modal" data-target="#modalSushiBeta">
						<%= image_tag "trabalhos/thumbs/sushibeta.jpg", alt: "Layout Sushi Beta",
						 												role: "img" %>
					</a>
					<span><strong>Sushi Beta</strong> <%= t :job1 %></span>
				</div>
				<div class="item">
					<a href="#" data-toggle="modal" data-target="#modalTJBH">
						<%= image_tag "trabalhos/thumbs/journeybackhome.jpg", alt: "Jogo the Journey Back Home",
																			  role: "img" %>
					</a>
					<span><strong>The Journey Back Home</strong> <%=t :job2 %></span>
				</div>
				<div class="item">
					<a href="#" data-toggle="modal" data-target="#modalClick2Eat">
						<%= image_tag "trabalhos/thumbs/click2eat.jpg", alt: "Layout Click2Eat",
																		role: "img" %>
					</a>
					<span><strong>Click 2 Eat</strong> <%=t :job3 %></span>
				</div>
			</div>
		</div>
	</section>

	<footer class="contato" role="contentinfo">
		<div class="container">
			<h1><%=t :contact_us %><a href="mailto:contato@mot-br.com?Subject=Contato%20pelo%20site" target="_top" role="link"> <%=t :email %></a></h1>
		</div>
	</footer>

	<!-- Modal Star 77-->
	<div itemscope itemtype="http://schema.org/WebSite">
		<div class="modal modal-gde fade" id="modalStar77" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
						<h4 itemprop="name" class="modal-title" id="myModalLabel">Star 77</h4>
					</div>
					<div class="modal-body">
						<%= image_tag "trabalhos/star77/logo-detalhes.jpg", alt: "logo-detalhes",
																			class: "img-responsive" %>
						<div class="row n-padding-col">
							<div class="col-xs-12 col-sm-6"><%= image_tag "trabalhos/star77/logo-colorido.jpg", alt: "logo-colorido",
															 													class: "img-responsive",
															 													itemprop: "image" %>
							</div>
							<div class="col-xs-12 col-sm-6"><%= image_tag "trabalhos/star77/logo-monocromatico.jpg", alt: "logo-monocromatico",
																													 class: "img-responsive",
																													 itemprop: "image" %>
							</div>
						</div>
						<%= image_tag "trabalhos/star77/site.jpg", alt: "site",
																   width: "1366",
																   height: "3003",
																   class: "img-responsive",
																   itemprop: "image" %>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Sushi Beta-->
		<div itemscope itemtype="http://schema.org/WebSite">
			<div class="modal modal-gde fade" id="modalSushiBeta" tabindex="-1" role="dialog" aria-labelledby="Sushibeta">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
							<h4 itemprop="name" class="modal-title" id="myModalLabel">Sushi Beta</h4>
						</div>
						<div class="modal-body">
							<%= image_tag "trabalhos/sushibeta/logo-outline.jpg", alt: "logo-outline",
																				  width: "1366",
																				  height: "600",
																				  class: "img-responsive",
																				  itemprop: "image" %>
							<div class="row n-padding-col">
								<div class="col-xs-12 col-sm-6">
									<%= image_tag "trabalhos/sushibeta/logo-colorido.jpg", alt: "logo-colorido",
																						   width: "683",
																						   height: "422",
																						   class: "img-responsive",
																						   itemprop: "image" %>
								</div>
								<div class="col-xs-12 col-sm-6">
									<%= image_tag "trabalhos/sushibeta/logo-monocromatico.jpg", alt: "logo-monocromatico",
																								width: "683",
																								height: "422",
																								class: "img-responsive",
																								itemprop: "image" %>
								</div>
							</div>
							<%= image_tag "trabalhos/sushibeta/logo-detalhes.jpg", alt: "logo-detalhes",
																				   width: "1366",
																				   height: "600",
																				   class: "img-responsive",
																				   itemprop: "image" %>
							<div class="row n-padding-col">
								<div class="col-xs-12 col-sm-6">
									<%= image_tag "trabalhos/sushibeta/logo-mockup.jpg", alt: "logo-mockup",
																						 width: "683",
																						 height: "422",
																						 class: "img-responsive",
																						 itemprop: "image" %>
								</div>
								<div class="col-xs-12 col-sm-6">
									<%= image_tag "trabalhos/sushibeta/logo-mockup02.jpg", alt: "logo-mockup02",
																						   width: "683",
																						   height: "422",
																						   class: "img-responsive",
																						   itemprop: "image" %>
								</div>
							</div>
							<%= image_tag "trabalhos/sushibeta/sushibeta.jpg", alt: "sushibeta",
																			   width: "1440",
																			   height: "5225",
																			   class: "img-responsive",
																			   itemprop: "image" %>
						</div>
					</div>
				</div>
			</div>


			<!-- Modal TJBH-->
			<div itemscope itemtype="http://schema.org/WebSite">
			<div class="modal modal-md fade" id="modalTJBH" tabindex="-1" role="dialog" aria-labelledby="JogoTheJourneyBackHome">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
							<h4 itemprop="name" class="modal-title" id="myModalLabel">The Journey Back Home</h4>
						</div>
						<div class="modal-body">
							<div class="row n-padding-col">
								<div class="col-xs-12 col-sm-6">
									<%= image_tag "trabalhos/tjbh/apresentacao.jpg", alt: "The Journey Back Home",
																					 class: "img-responsive",
																					 itemprop: "image" %>
								</div>
								<div class="col-xs-12 col-sm-6">
									<%= image_tag "trabalhos/tjbh/01.jpg", alt: "The Journey Back Home",
																		   class: "img-responsive",
																		   itemprop: "image" %>
								</div>
								<div class="col-xs-12 col-sm-6">
									<%= image_tag "trabalhos/tjbh/02b.jpg", alt: "The Journey Back Home",
																			class: "img-responsive n-padding",
																			itemprop: "image" %>
								</div>
								<div class="col-xs-12 col-sm-6">
									<%= image_tag "trabalhos/tjbh/03.jpg", alt: "The Journey Back Home",
																		   class: "img-responsive",
																		   itemprop: "image" %>
								</div>
							</div>
 							<% (04..06).each do |i| %>
 							<% i = sprintf '%02d', i %>
							<%= image_tag "trabalhos/tjbh/#{i}.jpg", alt: "The Journey Back Home",
																		 class: "img-responsive",
																		 itemprop: "image" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal Click2Eat-->
			<div itemscope itemtype="http://schema.org/WebSite">
			<div class="modal modal-gde fade" id="modalClick2Eat" tabindex="-1" role="dialog" aria-labelledby="Click2Eat">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
							<h4 itemprop="name" class="modal-title" id="myModalLabel">Click2Eat</h4>
						</div>
						<div class="modal-body">
							<%= image_tag "trabalhos/click2eat.jpg", alt: "Layout Click2Eat",
																	 class: "img-responsive",
																	 itemprop: "image" %>
						</div>
					</div>
				</div>
			</div>

			 <script>
				$(document).ready(function() {
					$(".apresentacao").parallax({
						imageSrc: '<%= asset_path "bg-apr.jpg" %>'
					});
				});
			</script>
		</body>
		</html>
