@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}
h1 {
	color: #333;
	font-size: 22px;
	font-weight: 900;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
h4 {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0 0 5px 0;
}
p {
	color: #777;
	font-size: 18px;
	font-weight: 300;
	line-height: 2;
}
.apresentacao {
	background-color: transparent;
	/*background-image: url(../img/bg-apr.jpg);
	background-position-y: 0;
	background-position-x: center !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	position: relative;
	width: 100vw;
	min-height: 800px;
	min-height: 100vh;
}
.apresentacao:before {
	background: rgba(0, 0, 0, 0.3);
	content: '';
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.apresentacao .container {
	position: relative;
	z-index: 2;
}
.apresentacao h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 60px;
}
.apresentacao h2 span {
	display: inline-block;
}
.apresentacao p {
	color: #fff;
	font-size: 24px;
	font-weight: 100;
	margin: 0 auto;
	max-width: 600px;
	-webkit-animation-delay: 2.5s;
    	    animation-delay: 2.5s;
}
.design {
	font-family: 'Adobe Garamound Pro', Georgia, serif;
	font-style: italic;
	font-weight: normal;
	-webkit-animation-delay: 1s;
    	    animation-delay: 1s;
}
.plus {
	-webkit-animation-delay: 1.5s;
    	    animation-delay: 1.5s;
}
.codigo {
	-webkit-animation-delay: 2s;
    	    animation-delay: 2s;
}

header {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
}
.logo {
	/*background: url("/assets/mot-logo.svg") center center no-repeat;*/
	background: url(<%= asset_path "mot-logo.svg" %>) center center no-repeat;
	font-size: 0;
	color: transparent;
	display: inline-block;
	height: 103px;
	margin: 0 0 20px 0;
	width: 300px;
}
.align-logo {
	display: table;
	height: 100vh;
	padding-bottom: 155px;
	width: 100%;
}
.align-logo > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.nav-01 {
	bottom: 0;
	color: #fff;
	display: block;
	font-weight: 300;
	left: 0;
	position: absolute;
	width: 100%;
}
.nav-01 a {
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
}
.nav-01 a:hover {
	color: #ccc;
	text-decoration: none;
}
.ctn-nav-01 {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	padding: 40px 0 60px 0;
}
.nav-01 strong {
	display: block;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.1;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.nav-01 span {
	font-weight: 100;
}
.ctn-nav-01 .mail-link,
.ctn-nav-01 .mail-link:hover {
	text-decoration: underline;
}
.lng {
	color: #fff;
	line-height: 30px;
	font-size: 14px;
	font-weight: 300;
	position: absolute;
	right: 20px;
	top: 20px;
	text-transform: uppercase;
	z-index: 2;
}
.lng a {
	color: #FFF;
	display: inline-block;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
}
.lng a:hover {
	color: #ccc;
	text-decoration: none;
}

.sobre {
	background: #fff;
	padding: 150px 0;
	min-height: 100vh;
	position: relative;
	width: 100%;
}
.sobre h1 {
	font-size: 64px;
	font-weight: bold;
	line-height: 1.3;
	letter-spacing: normal;
	text-transform: uppercase;
}
.sobre h1:after {
	background: #4A4A4A;
	content: "";
	display: block;
	margin-top: 30px;
	height: 4px;
	width: 40%;
}
.sobre h3 {
	font-size: 24px;
	color: #4A4A4A;
}
.sobre p {
	color: #4A4A4A;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
}
.qualidade {
	border: 4px solid #4A4A4A;
	color: #4A4A4A;
	text-align: center;
	padding: 5% 10%;
	margin: 60px 0;
}
.qualidade h3 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.trabalhos {
	background-color: #111;
	height: 100vh;
	position: relative;
	width: 100%;
}
.trabalhos h1 {
	color: #fff;
	font-size: 48px;
	font-weight: normal;
	line-height: 1.3;
	margin: 150px 0 20% 0;
}
.trabalhos h1:after {
	background: #fff;
	content: "";
	display: block;
	margin-top: 30px;
	height: 4px;
	width: 40%;
}
.glr-trabalhos {
	height: 100vh;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 60%;
}
.trabalhos .item {
  margin-bottom: 10%;
}
.trabalhos .item img {
	display: block;
	width: 100%;
	height: auto;
}
.trabalhos .item span {
	color: #eee;
	display: block;
	font-weight: 100;
	padding: 30px;
}
.trabalhos .item strong {
	font-family: Georgia, serif;
	font-weight: normal;
	font-style: italic;
}

.contato {
	background: linear-gradient(270deg, #4776e6, #8e54e9, #3cd3ad, #4cb8c4, #e55d87, #e700ff, #fe7aff, #00dbde, #92fe9d, #fdfc47, #ff512f, #dd2476);
	background-size: 3000% 3000%;

	-webkit-animation: bgContato 100s ease infinite;
	   -moz-animation: bgContato 100s ease infinite;
	        animation: bgContato 100s ease infinite;
	position: relative;
	padding: 120px 0;
	width: 100%;
}
@-webkit-keyframes bgContato {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgContato {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes bgContato { 
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
.contato h1 {
	color: #fff;
	font-size: 36px;
	font-weight: normal;
	letter-spacing: normal;
}
.contato h1 a {
	color: #fff;
	font-style: italic;
	font-weight: 300;
	text-decoration: underline;
	text-transform: none;
}
.contato a:hover,
.contato a:focus,
.contato a:active {
	color: #ccc;
}

/*Classes úteis*/
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.n-padding {
	padding: 0;
}
.n-padding-col {
	margin: 0 !important;
}
.n-padding-col [class^="col"], 
.n-padding-col [class*="col"]{
	padding: 0 !important;
}

/*Modal*/
.modal-gde .modal-dialog {
	max-width: 1366px;
	width: 100%;
}
.modal-md .modal-dialog {
	max-width: 1280px;
	width: 100%;
}
.modal-header {
	border: none;
	padding: 10px 15px 10px 40px;
}
.modal-content {
	background: #111;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
	border: none;
	overflow: hidden;
}
.modal-title {
	color: #fff;
	font-size: 48px;
	line-height: 1.6;
}
.modal-body {
	padding: 0;
}
.modal-backdrop {
	background-color: #fff;
}
.modal-header .close {
	background: transparent;
	border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    float: right;
    height: 28px;
    line-height: 20px;
    margin-top: 5px;
    opacity: 0.5;
    padding: 0;
    text-align: center;
    width: 28px;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
}
.modal-header .close:hover {
	opacity: 0.8;
}

/*Responsive*/
@media screen and (max-width: 768px) {
	.logo {
		background-size: 200px 68px;
		height: 68px;
		margin-bottom: 10px;
	}
	.apresentacao h2 {
		margin-bottom: 30px;
	}
	.apresentacao p {
		font-size: 16px;
		font-weight: 300;
	}
	.sobre { 
		padding: 20% 0;
	}
	.sobre h1 {
		font-size: 48px;
	}
	.trabalhos {
		height: auto;
		padding-top: 20%;
	}
	.trabalhos h1 {
		font-size: 38px;
		margin: 0 0 30px 0;
	}
	.glr-trabalhos {
		height: auto;
		overflow-y: scroll;
		position: relative;
		right: auto;
		top: auto;
		width: 100%;
	}
	.modal-gde .modal-dialog,
	.modal-md .modal-dialog {
		width: 100%;
		margin: 0;
	}
	.modal-content {
		border-radius: 0;
	}
	.modal-title {
		font-size: 38px;
		line-height: 1.3;
	}
}